@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: '#000000';
  background: '#ffffff'
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @variants responsive {
    .icon-responsive {
      @apply w-8 h-8;
    }
    .md:icon-responsive {
      @apply w-10 h-10; 
    }
    .image-responsive{
      @apply w-16 h-16
    }
    
  }
}
